<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    
    
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">    
<link rel="stylesheet" type="text/css" href="../js/stylesheet.css">
<script type="text/javascript" src="../js/bundle.js"></script>   

  
    
</head>
<body>
    <!--main-->
    <div class="fluid-container main bgimg1" id='main' style="min-height: 100vh; min-width: 100vh;">
        
        
        
        
        <!--header-->
        
        <div class="container-fluid" id="recipeheader">
          
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <span class="navbar-brand mb-0 h1">
              <img src="../img/testimg.svg" width="30" height="30" class="d-inline-block align-top" alt="">
              Food
            </span>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                
                <div id="signup">
                  <button class="btn btn-link disabled" id="signup_btn" href="#">
                    Sign Up
                  </button>
                </div>
                <li class="nav-item active">
                  <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                
                <ul class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="tagnavbar" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Tags
                  </a>
                  <div class="dropdown-menu" aria-labelledby="tagnavbar" id="tagdropdown" style="height: 200px;overflow-y: auto;">
                    <a class="dropdown-item" href="#">cat1</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">cat2</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">...</a>
                  </div>
                </ul>
                
              </ul>
              
              <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="categorynavbar" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Categories
                </a>
                <div class="dropdown-menu" aria-labelledby="categorynavbar" id="categorydropdown" style="height: 200px;overflow-y: auto;">
                  <a class="dropdown-item" href="#">cat1</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">cat2</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">...</a>
                </div>
              </div>
              <div class="d-flex">
                <input class="form-control mr-sm-2 rounded" type="search" placeholder="Enter recipe name" aria-label="Search" id="searchinput" >
                <button class="btn btn-outline-success my-2 my-sm-0" id="searchgo">Search</button>
              </div>
              
            </div>
          </nav>



<!--
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
              <span class="navbar-brand mb-0 h1">Reciepes</span>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Dropdown link
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                  </li>
                  
                </ul>
                
              </div>
            </div>
          </nav>
            -->
          
          
        </div>
        <!--header-->
      <div id="rotation">

        
        <!--Suggestedrotation
        <div class="container p-4" id='suggestedrotation'>
            <div id="suggestedheader">
              <p class="lead"> <b>Suggested Items</b></p>
            </div>
            <div id="carouselSuggested" class="carousel slide" data-ride="carousel" >
                <div class="carousel-inner" id="suggested_inner">
                    <div class="carousel-item active">
                        <div class="d-flex justify-content-around mx-auto" style="width: 90%;">
                          <div class="card">
                            <div class="card-content">
                              <h5 class="card-title">GGGggggpjq</h5>
                            </div>
                          </div>
                          <div class="card">
                            <div class="card-content">
                              <h5 class="card-title">Tasty Seasoned Fries Cooked in Air Fryer</h5>
                            </div>   
                          </div>
                          
                          
                        </div>
                    </div>
                    <div class="carousel-item">
                      <div class="d-flex justify-content-around mx-auto" style="width: 90%;">
                        <div class="card">
                          <img class="img card-img-top" src="img/darkedit.jpg" alt="Card image cap">
                          <div class="card-content">
                            <h5 class="card-title">GGGggggpjq</h5>
                          </div>   
                        </div>
                        <div class="card">
                          <img class="img card-img-top" src="img/darkedit.jpg" alt="Card image cap">
                          <div class="card-content">
                            <h5 class="card-title">Tasty Seasoned Fries</h5>
                          </div>   
                        </div>
                        <div class="card">
                          <img class="img card-img-top" src="img/darkedit.jpg" alt="Card image cap">
                          <div class="card-content">
                            <h5 class="card-title">Thicker card mroe</h5>
                          </div>   
                        </div>
                        <div class="card">
                          <img class="img card-img-top" src="img/darkedit.jpg" alt="Card image cap">
                          <div class="card-content">
                            <h5 class="card-title">Tasty Seasoned Fries</h5>
                          </div>   
                        </div>
                        
                      </div>
                  </div>
                    
                </div>
                
                <a class="carousel-control-prev btn btn-light" style="width: 5%; " onclick="this.blur()" href="#carouselSuggested" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next btn btn-light" style="width: 5%;" onclick="this.blur()" href="#carouselSuggested" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

        </div>
        rotation-->



        <!--popularrotation
        <div class="container p-4" id='popularrotation'>
            <div id="popularheader">
              <p class="lead"> <b>Popular Items</b></p>
            </div>
            <div id="carouselPopular" class="carousel slide" data-ride="carousel" >
              <div class="carousel-inner" id="popular_inner">
                <div class="carousel-item active">
                    <div class="d-flex justify-content-around mx-auto" style="width: 90%;">
                      <div class="card">
                        <div class="card-content">
                          <h5 class="card-title">GGGggggpjq</h5>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-content">
                          <h5 class="card-title">Tasty Seasoned Fries Cooked in Air Fryer</h5>
                        </div>   
                      </div>
                      
                      
                    </div>
                </div>
              </div>
                
              <a class="carousel-control-prev btn btn-light"  style ="width: 5%" onclick="this.blur()" href="#carouselPopular" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next btn btn-light"  style="width: 5%" onclick="this.blur()" href="#carouselPopular" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
              </a>
            </div>

        </div>
        rotation-->

        <!--recentrotation-->
        <div class="container p-4" id='recentrotation'>
          <div id="recentheader">
            <p class="lead"> <b>Recent Items</b></p>
          </div>
          <div id="carouselRecent" class="carousel slide" data-ride="carousel" >
            <div class="carousel-inner" id="recent_inner">
              <div class="carousel-item active">
                  <div class="d-flex justify-content-around mx-auto" style="width: 90%;">
                    <div class="card">
                      <div class="card-content">
                        <h5 class="card-title">GGGggggpjq</h5>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-content">
                        <h5 class="card-title">Tasty Seasoned Fries Cooked in Air Fryer</h5>
                      </div>   
                    </div>
                    
                    
                  </div>
              </div>
              </div>
              
              <a class="carousel-control-prev btn btn-light" style="width: 5%; " onclick="this.blur()" href="#carouselRecent" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next btn btn-light" style="width: 5%;" onclick="this.blur()" href="#carouselRecent" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
              </a>
          </div><!--#carouselRecent-->

        </div>
        <!--recentrotation-->
      </div>
        <!--list-->
        <div class="container pt-5 pb-4 recipelist" id="recipelist" style="display: none; overflow-y: auto; height:800px;">
          
          <div class="container p-0" id="searchtable">
            <div class="table-responsive">
              <table class="table table-hover table-light align-middle" id="recipetable">
                <thead>
                  
                    <th scope="col" style="width: 40%;"><h5>Recipes</h5></th>
                    
                    <th scope="col"style="width: 25%;"><h5>Ingredients</h5></th>
                    <th scope="col"style="width: 25%;"><h5>Description</h5></th>
                    
                  
                </thead>
                <tbody>
                
                    <tr>
                      
                    </tr>
                  
                  
                </tbody>
              </table>
            </div>
          </div>
            
        </div>
        <!--list-->



    </div><!--main-->
    

     


</body>

</html>